body {
  font-family: "Arial", sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link.btn {
  margin-left: 1rem;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.container p.lead {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.container h2 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.container p {
  font-size: 1rem;
  color: #666;
}

.illustration img {
  max-width: 50%;
  height: auto;
  float: right;
  margin-left: 1000px;
}
.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f8f9fa;
}

header .col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

main p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.card-body {
  text-align: center;
  padding: 40px 20px;
}

.card-body img {
  max-width: 50px;
  margin-bottom: 20px;
}

.card-body h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-body p {
  font-size: 1rem;
  color: #666;
}

main .row.my-5 img {
  max-width: 100%;
}

main .btn-success {
  background-color: #28a745;
  border-color: #28a745;
}



main .bg-light {
  background-color: #f8f9fa !important;
}

main .bg-light p {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

main .bg-light p strong {
  font-size: 2rem;
}

main .row.bg-light {
  margin-top: 50px;
}
.icon-group img {
  width: 40px; /* Adjust the size as needed */
  margin-right: 10px; /* Adjust the spacing as needed */
}

.icon-group img:last-child {
  margin-right: 0; /* Remove margin from the last icon */
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-section .content {
  max-width: 50%;
}
.content-section .image {
  max-width: 50%;
}
.content-section img {
  width: 100%;
  height: auto;
}
.icon-group .icon {
  margin: 0 10px; /* Adjust the value as needed for the desired gap */
}

/* sample */


